## Kedro
conf/local/
!conf/local/.gitkeep
data/**
!data/**/.gitkeep
logs/
.kedro/
.telemetry

## Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
.eggs/
*.egg

## Ambiente
.env
*.env

## Dados sensíveis (NUNCA commitar)
conf/local/credentials.yml

## IDEs
.vscode/
.idea/
*.DS_Store
.claude

## Jupyter
.ipynb_checkpoints/
*.ipynb

## Coverage
.coverage
htmlcov/
